body {
  margin: 0;
  font-family: 'Comic Sans MS', 'cursive', 'sans-serif';
  font-size: larger;
  color: #61dafb;
  background-color: #20232a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1024px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  text-align: center;
}

button {
  font-family: 'Comic Sans MS', 'cursive', 'sans-serif';
  font-size: large;

  background-color: #12323b;
  color: white;
  border-radius: 5px;
  height: 50px;
  border: solid 1px #12323b;
  box-shadow: #1d2d52 0 0 10px;
  outline:none;
  cursor: pointer;
}

button:hover {
  box-shadow: #2a4074 0 0 15px;
}

button:active {
  background-color: #227685;
  box-shadow: #227685 0 0 20px;
  transform: translateY(2px);
}
.back-btn{
  text-align: left;
}
.nav-btns{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.nav-btns button{
  width: 23%;
  margin:  1%;
}

@media screen and (max-width: 600px){
  .nav-btns button{
      width: 100%;
      margin: 1%;
  }
}
